.landing-section{
    background-color:#5FB7F4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .app-logo-landing {
    height: 20vmin;
    pointer-events: none;
    border: 16px solid white;
    border-radius: 45px;
  }

  /* landing.css */

.landing-subtitle {
    color: white;
    font-size: 2.5rem;
    margin-top: 20px; /* Adjust as needed */
    text-align: center;
}
.enter-button {
    background-color: #5FB7F4;
    border: 6px solid white;
    border-radius: 10%;
    color: white;
    padding: 14px 32px; /* Adjust as needed for button size */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-transform: uppercase; /* Makes text uppercase */
    
}

.enter-button:hover {
    background-color: white;
    color: #5FB7F4;
}
@media (prefers-reduced-motion: no-preference) {
  .app-logo-landing{
    animation: App-logo-spin 4s linear forwards;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
